<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/reservations">Reservations</a></li>
    <li class="breadcrumb-item active">Edit Reservation</li>
  </ol>
</nav>

<h2>Reservation Information</h2>
<div *ngIf="feedback.message" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
<form #editForm="ngForm" (ngSubmit)="save()" *ngIf="reservation">
  <mat-form-field *ngIf="!user.country" class="full-width">
    <mat-label>Select Your Country</mat-label>
    <mat-select [(ngModel)]="userCountry" [(value)]="userCountry" required>
      <mat-option *ngFor="let country of countryList" value="{{country}}">
        {{country}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field *ngIf="!user.contactNumber" class="full-width">
    <mat-label>Contact Number</mat-label>
    <input [(ngModel)]="userPhone" [readonly]="user.contactNumber !== null" id="userPhone" matInput name="userPhone"
           [pattern]="phoneNumberPattern" placeholder="userPhone"
           required value="{{userPhone}}">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Select Date for service</mat-label>
    <input [(ngModel)]="reservation.date" [matDatepicker]="picker" [min]="currentDate"
           id="date" matInput name="date" placeholder="Date" required>
    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #picker disabled="false"></mat-datepicker>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Time <span *ngIf="reservation.time"> | {{reservation.time}}</span></mat-label>
    <mat-select [(ngModel)]="reservation.time" [(value)]="reservation.time" required>
      <mat-option *ngFor="let time of timeList" value="{{time}}">
        {{time}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Location <span *ngIf="reservation.location"> | {{reservation.location}}</span></mat-label>
    <mat-select [(ngModel)]="reservation.location" [(value)]="reservation.location" required>
      <mat-option *ngFor="let location of locationList" value="{{location}}">
        {{location}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Vehicle Number</mat-label>
    <input [(ngModel)]="reservation.vehicle_no" id="vehicle_no" matInput name="vehicle_no" placeholder="vehicle_no"
           required>
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Mileage</mat-label>
    <input [(ngModel)]="reservation.mileage" id="mileage" matInput name="mileage" placeholder="mileage" required
           type="number">
  </mat-form-field>
  <mat-form-field class="full-width">
    <mat-label>Message</mat-label>
    <input [(ngModel)]="reservation.message" id="message" matInput name="message" placeholder="message" required>
  </mat-form-field>
  <div class="button-row" role="group">
    <button [disabled]="!editForm.form.valid || formSubmitted" color="primary" id="save" mat-raised-button
            type="submit">Save
    </button>
    <button (click)="cancel()" color="accent" id="cancel" mat-button type="button">Cancel</button>
  </div>
</form>
