<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/">Home</a></li>
    <li class="breadcrumb-item"><a routerLink="/reservations">Reservations</a></li>
    <li class="breadcrumb-item active">Edit Reservation</li>
  </ol>
</nav>

<h2>reservation Information</h2>
<div *ngIf="feedback.message" class="alert alert-{{feedback.type}}">{{ feedback.message }}</div>
<form #editForm="ngForm" (ngSubmit)="save()" *ngIf="reservation">
  <mat-form-field style="width: 35%">
    <mat-label>Date</mat-label>
    <input [(ngModel)]="reservation.date" [matDatepicker]="picker" [min]="currentDate" type="date"
           id="date" matInput name="date" placeholder="Date" required>
    <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <mat-form-field style="width: 35%">
    <mat-label>Time</mat-label>
    <mat-select [(ngModel)]="reservation.time" [(value)]="reservation.time" required>
      <mat-option *ngFor="let time of timeList" value="{{time}}">
        {{time}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p>time: {{reservation.time}}</p>

  <div class="button-row" role="group">
    <button [disabled]="!editForm.form.valid" color="primary" id="save" mat-raised-button type="submit">Save</button>
    <button (click)="cancel()" color="accent" id="cancel" mat-button type="button">Cancel</button>
  </div>
</form>
